/* General Setting */
section.header--title{
  margin: 150px 0;
}

body {
  overflow-x:hidden;
}
/* Color */
.color-primary{
  color: #f2a447;
}
.color-secondary{
  color: #d6d7dc;
}
.color-dark{
  color: #1c1e1f;
}

/* font styling */

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.font-playfair{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.uppercase{
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: .9em;
}

/* header--title */
.header--title .row{
  position: relative;
}
.header--title h2:after{
  position: absolute;
  bottom : 50%;
  left: 25%;
  content: '{ }';
  font-size: 160px;
  font-family: "montserrat", sans-serif;
  color: #ebebeb;
  z-index: -1;
}
.underline {
  text-decoration: underline;
}

  .no-offset {
		margin:auto;
	}
.desktop-offset {
    margin: auto;
    width: 90% !important;
    float: none;
}
.header--title h2{
  font-size: 60px;
  letter-spacing: -.03em;
}
.header--info p {
    font-size:36px;
  text-align: center;
  }
}